<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.logistics.repository.VehicleRepository">
    <resultMap id="vehicleResultMap" type="com.logistics.entity.Vehicle">
        <id property="id" column="id"/>
        <result property="licensePlate" column="license_plate"/>
        <result property="model" column="model"/>
        <result property="loadCapacity" column="load_capacity"/>
    </resultMap>
    
    <select id="findAll" resultMap="vehicleResultMap">
        SELECT * FROM vehicle
    </select>
    
    <select id="findById" resultMap="vehicleResultMap">
        SELECT * FROM vehicle WHERE id = #{id}
    </select>
    
    <insert id="insert" parameterType="com.logistics.entity.Vehicle" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO vehicle (license_plate, model, load_capacity)
        VALUES (#{licensePlate}, #{model}, #{loadCapacity})
    </insert>
    
    <update id="update" parameterType="com.logistics.entity.Vehicle">
        UPDATE vehicle
        SET license_plate = #{licensePlate},
            model = #{model},
            load_capacity = #{loadCapacity}
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById">
        DELETE FROM vehicle WHERE id = #{id}
    </delete>
</mapper>
